.headerContent{
    background-color: #000;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    position: relative;
    
    text-align: center;
    color: #fff;
    margin: auto;
    width: 100%;
    
    // Mettre le contenu au dessus du ::before en overlay
    & > *{ 
        position: relative;
        z-index: 2;
    }
    
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        display: block;
        background-color: $primaire;
        opacity: .4;
    }
}

.logo{
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 30px;
    
    a{
        color: $noir;
        text-decoration: none;
        padding: .1em 1em;
        display: inline-block;
    }
    
    p{
        font-size: .6em;
        opacity: .5;
        font-weight: 400;
    }
    
    @include width-below(1300px){
        padding: 20px 30px;
    }
    
    @include width-below(900px){
        text-align: left;
        font-size: 2.5rem;
        
        a{
            padding-left: 0;
        }
    }
}

.separateurLogo{
    transition: all ease .3s;
    color: $primaire;
}

.logoName1,
.logoName2{
    transition: all ease .3s;
    position: relative;
    right:0;
}

.logo a:hover .logoName1{
    right: 5px;
}

.logo a:hover .logoName2{
    right: -5px;
}

.arabesque-wrapper{
    svg{
        width: 300px;
        height: auto;
    }
}

// Text header

.header{
    .h1, h1{
        line-height: 1em;
    }
}

.date-header{
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    
    @include width-below(600px){
        font-size: 2.5rem;
    }
    
    span{
        font-weight: 400;
    }
}

.header-home .date-header span{
    color: $primaire;
}

.ss-menu{
    
    margin-top: $padding;
    
    ul{
        display: inline-block;
    }
    
    li{
        font-size: 1.7rem;
    }
    
    li:not(:last-child) a{
        border-bottom: 1px solid rgba(#fff, .5);
    }
    
    a{
        transition: all ease .3s;
        color: #fff;
        text-decoration: none;
        line-height: 1.6em;
        display: block;
        padding: 2px 8px;
        
        &:hover{
            background-color: rgba(#000, .25);
            color: #fff;
        }
    }
}