.hotels{
    padding: $padding*1.5 $padding;
}

.singleHalf{
    display: flex;
    align-items: center;
    width:100%;
    
    @include width-below(600px){
        display: block;
    }
    
    &:nth-child(odd){
        .halfPhoto{
            order: 3;
        }
        
        .contentHalf{
            text-align: right;
            
            @include width-below(600px){
                text-align: center;
            }
        }
        
        @include width-above(601px){
        
            svg{
                order: 3;
                margin-left: 10px;
            }
        
        
            li{
                justify-content: flex-end;
            }
        }
    }
    
    &:nth-child(even){
        svg{
            margin-right: 10px;
        }
    }
    
    &:not(:last-child){
        margin-bottom: $padding;
    }
    
    @include width-below(600px){
        li{
            justify-content: center;
        }
    }
}

.contentHalf{
    padding: 50px;
    width: 50%;
    
    @include width-below(900px){
        padding: 30px;
    }
    
    @include width-below(600px){
        width: 100%;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
    
    .adresse{
        font-weight: 700;
    }
    
    .descriptionHalf{
        margin: 1em 0;
    }
    
    li{
        margin-bottom: .5em;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        
        a{
            transition: all ease .2s;
            color: $primaire;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            
            &:hover{
                border-bottom: 1px solid $primaire;
            }
        }
        
        svg{
            fill: $primaire;
            height: 20px;
            width: 20px;
        }
    }
}

.halfPhoto{
    background-size: cover;
    background-position: center;
    width: 50%;
    min-height: 450px;
    flex-shrink: 0;
    
    @include width-below(600px){
        width: 100%;
        min-height: 300px;
    }
}