.acf-map{
    width: 100%;
    height: 75vh;
}

.address{
    text-align: center;
    
    & ~ p{
        text-align: center;
    }
}

.title-map{
    display: block;
    color: $primaire;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.linkMap{
    text-align: center;
    margin-top: 5px;
    
    a{
        font-size: 1.5rem;
        padding: 12px 30px;
    }
}

.home gmap{
    .acf-map{
        max-height: 500px;
    }
}