.temoins{
    margin: $padding 0;
}

.wrapperTemoins{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > div:first-child{
        margin-right: 15px;
    }
    
    > div:last-child{
        margin-left: 15px;
    }
    
}

.singleTemoin{
    
    padding: 35px;
    text-align: center;
    max-width: 375px;
   
    
    .imgTemoin{
        margin-bottom: 10px;
    }
    
    a{
        display: inline-block;
    }

    
    .wrapperText{
        display: block;
        margin: 10px 0;
    }
}

.temoinMaster{
    .imgTemoin{
        margin-bottom: 10px;
        
        img{
            width: 250px;
            height: auto;
        }
    }
}

.notMaster{
    background-color: rgba(#000, .05);
    
    &:not(:last-child){
        margin-bottom: 20px;
    }
    
    .imgTemoin{
        margin-bottom: 10px;
        
        img{
            width: 175px;
            height: 175px;
        }
    }
    
    a{
        font-size: 1.5rem;
        color: $primaire;
    }
}