//Header

.timeline{
    padding: $padding 0;
}

.text-col2{
    width: 100%;
    
    @include width-below(900px){
        margin-top: 15px;
    }
}

.timeline-live{
	margin-top: 50px;
	
	.day{
		color: $primaire;
		font-size: 1.3em;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		margin-bottom: $padding;
	}
	
	ul{
		position: relative;
	}
    
    ul:not(:last-child){
        margin-bottom: $padding;
    }
    
    .col2 a{
		text-decoration: none;
		margin-bottom: 5px;
		display: inline-block;
		margin-right: 5px;
    }
}

.coeur_limit{
	position: absolute;
	fill: $primaire;
	width: 36px;
	height: 36px;
	left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #fff;
    z-index: 3;
}

.coeur_top{
	transform: translateY(-50%) translateX(-50%);
}

.coeur_bottom{
	transform: translateY(-50%) translateX(-50%);
}

.single_moment{
	display: flex;
	align-items: center;
	position: relative;
    
    @include width-below(600px){
        display: block;
        padding-left: 60px;
        padding-bottom: 60px;
    }
}

@include width-above(601px){

    .single_moment:nth-child(odd){
        .col1{
            text-align: right;
        }
        .col2{
            text-align: left;
            padding: 10px 0 10px 40px;
        }
    }

    .single_moment:nth-child(even){
        .col1{
            order: 3;
            text-align: left;
        }
        .col2{
            text-align: right;
            order: 1;
            padding: 10px 40px 10px 0;
        }
    }

}

.col1{
	width: 50%;
	padding: 10px 40px;
    
    @include width-below(600px){
        width: 100%;
        padding: 0 20px;
        margin-bottom: 10px;
    }
}

	.meta_moment{
		margin-bottom: 10px;
        text-transform: uppercase;
        color: $gristypo;
        font-weight: 300;
		
		span{
			color: $primaire;
		}
	}

	.comment_moment{
		line-height: 1.3em;
		font-weight: 300;
	}


.milieu{
	width: 1px;
	background-color: $primaire;
	position: absolute;
	top:0;
	bottom: 0;
	left:50%;
    
    @include width-below(600px){
        left: 20px;
    }
	
	svg{
		fill: $primaire;
		width: 36px;
		height: 36px;
		position: absolute;
		top: calc(50% - 18px);
		left: calc(50% - 18px);
        padding: 5px;
        background-color: #fff;
        
        @include width-below(600px){
            top: calc(50% - 30px);
        }
	}
}

.col2{
	width: 50%;
    
    @include width-below(600px){
        width: 100%;
    }
	
	img{
		width: 100%;
		height: auto;
	}
}

// Reprise du flux normal 

.taille1{
	width: 50%;
	
	@include width-below(650px){
		width: 75%;
	}
}

.taille2{
	width: calc(33% - 10px);
	
	@include width-below(650px){
		width: calc(50% - 10px);
	}
}

.taille3{
	width: calc(25% - 7.5px);
	
	@include width-below(850px){
		width: calc(33% - 10px);
	}
	
	@include width-below(650px){
		width: calc(50% - 10px);
	}
}


// Formulaire envoi photos

.form_text{
	
	@include width-below(900px){
		padding: 35px;
	}
	
	@include width-below(400px){
		padding: 30px 15px;
	}
}

// Steps

.timeline{
    
    ul{
        position: relative;
    }
    
    .wrapper-col2{
        background-color: $gris;
        padding: 20px;
        display: flex;
        align-items: center;
        position: relative;
        
        @include width-below(900px){
            flex-direction: column;
        }
        
        @include width-below(600px){
            align-items: flex-start;
        }
        
        &::before{
            content: '';
            height: 20px;
            width: 20px;
            background-color: $gris;
            position: absolute;
            top: 50%;
            z-index: -1;
        }
        
        h3{
            margin-bottom: .5em;
        }
        
        p{
            margin-bottom: .35em;
            line-height: 1.25em;
            font-weight: 300;
        }
    }
    
    @include width-above(601px){
    
        .single_moment:nth-child(odd) .wrapper-col2::before{
            left: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        .single_moment:nth-child(even) .wrapper-col2::before{
            right: 0;
            transform: translate(50%, -50%) rotate(45deg);
        }
    }
    
    @include width-below(600px){
        .single_moment .wrapper-col2::before{
            left: 0;
            transform: translate(-50%, -50%) rotate(45deg);
            z-index: 10;
        }
    }
    
    .col2{
        padding: 20px;
        
        @include width-below(600px){
            padding: 0;
        }
    }
    
    @include width-above(901px){

        .single_moment:nth-child(even){
            .text-col2{
                order: 1;
                text-align: right;
                margin-right: 20px;
            }

            .wrapper-col2 > a{
                order: 2;
            }
        }

        .single_moment:nth-child(odd){
            .text-col2{
                margin-left: 20px;
            }
        }
        
    }
    
    .meta_moment{
        color: $primaire;
        font-size: 2rem;
        margin-bottom: 0;
    }
    
}
