.covoit{
    
    margin-bottom: $padding;
    
    table{
        width: 100%;
    }
    
    thead{
        background-color: $primaire;
        
        td{
            color: #fff;
        }
    }
    
    tbody tr:nth-child(odd){
        background-color: #fff;
    }
    
    td{
        padding: 20px;
        text-align: center;
        vertical-align: middle;
    }
    
    td p:first-child{
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 5px;
        
        @include width-below(600px){
            font-size: 1.4rem;
        }
    }
    
    a{
        color: $primaire;
    }
    
    .bt{
        display: block;
        margin: $padding auto 0;
        font-size: 1.5rem;
    }
    
    @include width-below(600px){
        
        tr{
            display: flex;
            flex-wrap: wrap;
        }
        
        thead tr{
            align-items: center;
        }
        
        td{
            padding: 20px 10px;
        }
        
        td:first-child,
        td:nth-child(2){
            width: calc(50% - 30px);
        }
        
        .nbPlaces{
            width: 60px;
        }
        
        
        td:last-child{
            width: 100%;
            text-align: center;
            padding-top: 0;
        }
        
        thead tr td:last-child{
            display: none;
        }
    }
}

.covoitForm{
    display: none;
}

.new_covoit{
    border-left: 4px solid $primaire;
    
    td{
        background-color: rgba($primaire, .05) !important;
    }
}

.noCovoit{
    display: none;
}

