.rappelRsvp{
    margin-top: $padding;
    text-align: center;
    
    .wrapper-title{
        margin-bottom: $padding/1.5;
    }
    
    > p{
        font-size: 2rem;
        margin-bottom: $padding;
    }
}