.rappelLive{
    margin: $padding 0;
    text-align: center;
    background-color: $primaire;
    color: #fff;
    
    .wrapper-title{
        margin-bottom: $padding/1.5;
        
        &::after{
            background-color: #fff;
        }
        
        svg{
            background-color: $primaire;
            fill: #fff;
        }
    }
    
    > p{
        font-size: 2rem;
        margin-bottom: $padding/2;
    }
    
    .bt{
        @include bt(#fff, $primaire);
    }
}

.wrapperImgLive{
    margin-bottom: $padding/2;
    
    img{
        max-width: 400px;
        height: auto;
    }
}